<!DOCTYPE html>
<html>
<head>
	<title>Turtles</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="William Gaul">
	<link rel="stylesheet" type="text/css" href="css/tomorrow.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<div class="snap-drawer">
		<h3>Turtles</h3>
		<ul>
			{{#each chapters}}
				<li><a href="{{ this.url }}">{{ this.name }}</a></li>
			{{/each}}
		</ul>
	</div>
	<div id="page">
		<div class="header-wrapper">
			<div class="header">
				<h4>
					<strong>Turtles</strong>
					&middot;
					<small><a href="http://willyg302.github.io/">William Gaul</a></small>
				</h4>
				<a href="#" id="menu"></a>
			</div>
		</div>
		<div class="container">
			{{#if cover}}
				<div id="cover">
					<img src="img/title.svg">
				</div>
				<script type="text/javascript" src="js/cover.js"></script>
			{{/if}}
			<div class="content">
				{{{ shim }}}
				<p class="booknav">
					{{#if previous}}
						<a href="{{ previous.url }}" class="btn btn-default" role="button">&larr; Previous</a>
					{{/if}}
					{{#if next}}
						<a href="{{ next.url }}" class="btn btn-primary pull-right" role="button">Next &rarr;</a>
					{{/if}}
				</p>
				{{> partials/footer }}
			</div>
		</div>
	</div>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
